.fa-times {
    visibility: hidden;
}

.card:hover .fa-times {
    visibility: visible;
}

#newTitle {
    width: 100%;
}

#newTodoItem {
    width: 90%;
}

.fa-plus {
    padding-left: 5%;
}

input[type="checkbox"] {
    margin-right: 5%;
}

h3 input {
    width: 100%;
}

.card {
    margin-bottom: 5%;
}